/**
 Folha de estilo do site BMW.com
 @author Eduardo Carrilho
 */

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Inter:wght@100..900&display=swap');

/* variáveis globais*/
:root {
  --transparentLayout: rgba(22, 18, 18, 0.9);
  --cinzaLayout: #3c3c3c;
  --brancoLayout: #ffffff;
  --cinzaLayout2: #3c3c3c;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  font-size: 1em;
}

.Container {
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 15px 50px 15px;
}

.FlexMenu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 15px;
  z-index: 1;
}

.Flex {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

/* Destaque */

.Banner {
  position: absolute;
  color: #fff;
  display: block;
  bottom: 110px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Botao {
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  font-weight: 900;
  background-color: #3c3c3c;
  padding: 10px 40px;
  border: 2px solid #3c3c3c;
  border-radius: 25px;
  z-index: -1;
}

#slogan {
  font-size: 2.5em;
  text-shadow: #000 0.05em 0.05em 0.05em;
  font-weight: 100;
}

#textoDestaque {
  font-size: 1em;
  font-weight: 100;
  margin-top: 190px;
  margin: 15px 0px 50px 0px;
  text-shadow: #000 0.05em 0.05em 0.05em;
}

#topo {
  position: fixed;
  right: 10px;
  bottom: 10px;
  color:  var(--transparentLayout);
}
#logo img {
  width: 120px;
  height: 120px;
}

header {
  background-color: var(--cinzaLayout2);
}

#destaque {
  position: relative;
  display: flex;
}

nav ul {
  margin-top: -60px;
}


.Banner2 {
  position: absolute;
  color: #fff;
  display: block;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#destaque2 {
  position: relative;
  display: flex;
}

#slogan2 {
  font-size: 2.5em;
  text-shadow: #000 0.05em 0.05em 0.05em;
  font-weight: 100;
}

#textoDestaque2 {
  font-size: 1.5em;
  font-weight: 100;
  text-shadow: #000 0.05em 0.05em 0.05em;
}

.Botao2 {
  position: relative;
  top: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  font-weight: 900;
  background-color: #3c3c3c;
  padding: 10px 40px;
  border: 2px solid #3c3c3c;
  border-radius: 25px;
}

.barra-invisivel {
  width: 100%;
  height: 180px; /* altura desejada */
  background-color: transparent; /* torna a barra invisível */
}

.Pecas {
  position: absolute;
  color: #000;
  display: block;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#Titulo {
  font-size: 3.5em;
  font-weight: 200;
  text-shadow: #000 0.05em 0.05em 0.08em;
}
/* Smartphone portrait >>>>>>>>>>>>>>>>> */
/********* Cabeçalho *********/
@media (min-width: 375px) {
  #check {
    display: none;
  }
  
  #check:checked ~ ul {
    right: 0;
  }

  label {
    font-size: 3em;
    right: 25px;
    position: fixed;
    top: 40px;
    color: rgba(0, 0, 0, 0.5);
  } 
  
  
  nav ul {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 213px;
    width: 100%;
    right: -100%;
    transition: all 0.5s;
    background-color: var(--transparentLayout);
  }
  
  nav ul li {
    padding: 20px;
    border-bottom: 0.5px solid #a9a9a9;
    text-align: right;
  }
  
  nav ul li a {
    text-decoration: none;
    color: var(--brancoLayout)
  }
  
  #destaque video {
    width: 100%;
    height: 56vh;
    object-fit: cover;
    position: relative; 
  }

  #destaque2 {
    width: 100%;
    height: 37.2vh;
  }

  .Banner {
    bottom: 5vh;
  }

}

#social {
  margin-bottom: 15px;
}

#copyright {
  text-align: center;
}

 /********* Rodapé *********/
footer {
  background-color: var(--cinzaLayout);
  color: var(--brancoLayout);
}
@media (min-width: 576px) {
  .Flex {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  #destaque video {
    width: 100%;
    height: 56vh;
    object-fit: cover;
    position: relative; 
  }

  .Banner {
    bottom: 110px;
  }
}

/* Smartphone landscape >>>>>>>>>>>>>>>>> */
@media (min-width: 667px) {
  .Container {
    max-width: 540px;
  }
  #destaque video {
    height: 100vh;
    object-fit: cover;
    position: relative; 
  }

  .Banner {
    bottom: 35px;
  }
  #social {
    margin-right: -10vh;
  }

  #copyright {
    margin-left: -10vh;
  }
  nav ul {
    margin-top: -22vh;
  }
  #destaque2 {
    height: 117.8vh;
  }
  .Banner2 {
    margin-top: 25vh;
  }

}

/* Tablet portrait >>>>>>>>>>>>>>>>> */
@media (min-width: 748px) {
  .Container {
    max-width: 720px;
  }

  #slogan {
    font-size: 4.5em;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
  }

  #textoDestaque {
    font-size: 2em;
  }

  #destaque video {
    height: 75vh;
    object-fit: cover;
    position: relative; 
  }

  .Banner {
    bottom: 202px;
  }

  #slogan2 {
    font-size: 4.5em;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
  }

  #textoDestaque2 {
    font-size: 2em;
  }
  #destaque2 {
    height: 49.7vh;
  }
  .Banner2 {
    margin-top: 13vh;
  }
  
  #social {
    margin-right: 0vh;
  }

  #copyright {
    margin-left: 0vh;
  }
  
  nav ul {
    margin-top: -6vh;
  }
}

/* Tablet landscape >>>>>>>>>>>>>>>>> */
@media (min-width: 1024px) {
  .Container {
    max-width: 960px;
  }

  .Banner {
    bottom: 110px;
  }

  nav ul {
    margin-top: -8vh;
  }

  #destaque2 {
    height: 88.3vh;
  }
  .Banner2 {
    margin-top: 20vh;
  }
}

/* PCs ou notebooks HD >>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {
  #check {
    display: none;
  }
  label {
    display: none;
  }
  nav ul {
    position: static;
    height: auto;
    background-color: transparent;
  }
  nav ul li {
    list-style: none;
    float: left;
    border: 0;
    padding: 20px;
    text-align: right;
  }
  nav ul li a {
    text-decoration: none;
    color: var(--brancoLayout)
  }

  .Banner {
    bottom: 180px;
  }

  #destaque video {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    position: relative; 
    margin-top: -9.805vh;
  }
  #destaque2 {
    height: 129.3vh;
  }
  .Banner2 {
    margin-top: 40vh;
  }
}

/* PCs ou notebooks Tv Full HD + >>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {
  .Container {
    max-width: 1360px;
  }
}